body
{
    background-image: url(../Images/bg.jpg);
    background-size:  100% auto;
    color: #dcddde;
    font-family: exo2;
}

/*полоса*/
.container  
{
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    padding: 15px;
    margin: 0 auto;
    background-color: #000000dc;
}
.container:after 
{
    display: table;
    clear: both;
}

/*Хедер*/
.logo img
{
    float: left;
    padding: 0px 20px;
    max-width: 100%;
    height: 100px;
}
.title
{
    text-align: left;
}

nav
{
    text-align: left;
}
nav li
{
    display: inline-block;
    padding: 0px 8px;
}
.menu
{
    padding: 3px;
    background-image: url(../Images/bar.png);
}
a
{
    text-decoration: none;
    font-weight: bold;
    color: #000000
}
.curent
{
    text-decoration: underline overline;
}


/*Основа*/


@font-face 
{
    font-family: "exo2"; 
    src: url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 