* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #dcddde;
    font-family: exo2;
}
@media screen and (min-width: 1080px)
    {
        *
        {
            background-image: url(../Images/desctop_bg.jpg);
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    }
    @media screen and (max-width: 1080px)
    {
        *
        {
            background-image: url(../Images/mobile_bg.png);
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    }
