* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #dcddde;
    font-family: exo2;
}
@media screen and (max-width:1025px)
    {
        body
        {
            background-image: url(../Images/mobile_bg.png);

            font-size:1.5em;
        }
    }
@media screen and (min-width:1025px)
    {
        body
        {
            background-image: url(../Images/desctop_bg.jpg);

        }
    }
body
{
    background-attachment: fixed;
    background-size: 100% 100%;
} 
.container  
{
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: auto;
    background-color: #000000dc;
    border-radius: 15px;
    word-break: break-all;
}

@font-face 
{
    font-family: "exo2"; 
    src: url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 