* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #dcddde;
    font-family: exo2;
}
@media screen and (max-width:1025px)
    {
        body
        {
            background-image: url(../Images/mobile_bg.png);
        }
    }
@media screen and (min-width:1025px)
    {
        body
        {
            background-image: url(../Images/desctop_bg.jpg);

        }
    }
body
{
    background-attachment: fixed;
    background-size: 100% 100%;
} 
.container  
{
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: auto;
    background-color: #000000dc;
    border-radius: 15px;
    word-break: break-all;

    display: flex;
    flex-direction: column
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
 }
@media screen and (min-width:1025px)
{
    .logo
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .title
    {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav
    {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
@media screen and (max-width:1025px)
{
    .logo
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .title
    {
        word-break: keep-all;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav
    {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
.logo img
{
    max-width: 100px;
    height: auto;
}
nav
{
    background-color: #c89334;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;

    display: flex;
}
nav li
{
    display: inline-block;
    padding-left: 5px;
}

a 
{
    text-decoration: none;
    font-weight: bold;
    color: #000000
}
a:hover 
{
    color: #800000;
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');